﻿@model AmadeusNet.Models.Flights.RootResult

@{
    if (Model == null)
    {
        <div class="alert alert-info">
            @if (ViewBag.Exception != null)
            {
                @Html.Raw(ViewBag.Exception);
            }
            else
            {
                @:<strong>Info!</strong>No results.
            }
           

        </div>
    }
    else
    {
        var first = true;
        foreach (var result in Model.results)
        {
            <div class="card card-block @(@first ? "card-outline-primary" : "")">
                <h3 class="card-title">@result.fare.total_price&nbsp;@Model.currency</h3>
                 @{ first = false; }
                <div class="card-text">

                    <strong>Outbound</strong>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Departs at</th>
                                    <th>Arrives at</th>
                                    <th>Airline</th>
                                    <th>Class</th>
                                    <th>Flight</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var flight in result.itineraries[0].outbound.flights)
                                {
                                    <tr>
                                        <td>
                                            @flight.origin.airport @if (flight.origin.terminal != null)
                                            {<span>(terminal&nbsp;@flight.origin.terminal)</span>}
                                        </td>
                                        <td>
                                            @flight.destination.airport @if (flight.destination.terminal != null)
                                            {<span>(terminal&nbsp;@flight.destination.terminal)</span>}
                                        </td>
                                        <td>@DateTime.Parse(flight.departs_at)</td>
                                        <td>@DateTime.Parse(flight.arrives_at)</td>
                                        <td>@flight.operating_airline</td>
                                        <td>@flight.booking_info.travel_class</td>
                                        <td>@flight.flight_number</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                    

                    @if (result.itineraries[0].inbound != null)
                    {
                        <strong>Inbound</strong>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Departs at</th>
                                        <th>Arrives at</th>
                                        <th>Airline</th>
                                        <th>Class</th>
                                        <th>Flight</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var flight in result.itineraries[0].inbound.flights)
                                    {
                                        <tr>
                                            <td>
                                                @flight.origin.airport @if (flight.origin.terminal != null)
                                                {<span>(terminal&nbsp;@flight.origin.terminal)</span>}
                                            </td>
                                            <td>
                                                @flight.destination.airport @if (flight.destination.terminal != null)
                                                {<span>(terminal&nbsp;@flight.destination.terminal)</span>}
                                            </td>
                                            <td>@DateTime.Parse(flight.departs_at)</td>
                                            <td>@DateTime.Parse(flight.arrives_at)</td>
                                            <td>@flight.operating_airline</td>
                                            <td>@flight.booking_info.travel_class</td>
                                            <td>@flight.flight_number</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    }

                </div>
            </div>
        }
    }

}
