﻿@model AmadeusNet.Models.Flights.FlightSearchModel
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-3">
        @using (Ajax.BeginForm("Search", "Flights", new AjaxOptions() {UpdateTargetId = "resultSection", HttpMethod = "Post", InsertionMode = InsertionMode.Replace, LoadingElementId = "spinner"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-group">
                <label for="origin">Origin airport (IATA code)</label>
                @Html.TextBoxFor(m => m.Origin, new {@class = "form-control", @id = "origin", @placeholder = "Origin airport"})
                @Html.ValidationMessageFor(model => model.Origin)
            </div>
            <div class="form-group">
                <label for="destination">Destination airport (IATA code)</label>
                @Html.TextBoxFor(m => m.Destination, new {@class = "form-control", @id = "destination", @placeholder = "Destination airport"})
                @Html.ValidationMessageFor(model => model.Destination)
            </div>
            <div class="form-group">
                <label for="departureDate">Departure date</label>
                @Html.TextBoxFor(m => m.DepartureDate, "{0:yyyy-MM-dd}", new {@type = "date", @class = "form-control", @id = "departureDate", @placeholder = "Departure date"})
                @Html.ValidationMessageFor(model => model.DepartureDate)
            </div>

            <div class="form-check">
                <label class="form-check-label">
                    @Html.CheckBoxFor(m => m.IsReturn, new {@type = "checkbox", @class = "form-check-input", @id = "returnFlight"})
                    Return flight
                </label>
            </div>



            <div class="form-group" id="returnDateGroup" style="@(@Model.IsReturn ? "" : "display:none")">
                <label for="returnDate">Return date</label>
                @Html.TextBoxFor(m => m.ReturnDate, "{0:yyyy-MM-dd}", new {@type = "date", @class = "form-control", @id = "returnDate", @placeholder = "Return date"})
                @Html.ValidationMessageFor(model => model.ReturnDate)
            </div>



            <div class="form-group">
                <label for="numberAdults">Number of adults</label>
                @Html.TextBoxFor(m => m.NumberAdults, new {@type = "number", @min = "1", @class = "form-control", @id = "numberAdults", @placeholder = "Number of adults"})
                @Html.ValidationMessageFor(model => model.NumberAdults)
            </div>

            <div class="form-group">
                <label for="numberChildren">Number of children</label>
                @Html.TextBoxFor(m => m.NumberChildren, new {@type = "number", @min = "0", @class = "form-control", @id = "numberChildren", @placeholder = "Number of children"})
                @Html.ValidationMessageFor(model => model.NumberChildren)
            </div>

            <div class="form-group">
                <label for="numberInfants">Number of infants</label>
                @Html.TextBoxFor(m => m.NumberInfants, new { @type = "number", @min = "0", @class = "form-control", @id = "numberInfants", @placeholder = "Number of infants" })
                @Html.ValidationMessageFor(model => model.NumberInfants)
            </div>

            <div class="form-group">
                <input class="btn btn-success" type="submit" value="Search"/>
            </div>

        }
    </div>
    <div class="col-md-9" id="resultSection">
        <div class="alert alert-info" role="alert">
            <strong>Ready!</strong> Search for flights.
        </div>
    </div>
</div>

