﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <nav class="navbar navbar-fixed-top navbar-light bg-faded">
        <div class="container nav navbar-nav">
            @Html.ActionLink("Flights", "Index", "Flights", new {},new {@class= "nav-item nav-link active" })
        </div>
    </nav>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Amadeus Low-fare flight search</p>
    </footer>
</div>

<div id="spinner">
    <img id="loading" src="http://bit.ly/pMtW1K">
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
    
<script src="/Scripts/jquery.validate.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.js"></script>
@RenderSection("scripts", required: false)

<script type="text/javascript">
    $(document).ready(function () {
        $("#returnFlight").change(function () {
            if (this.checked) {
                $("#returnDateGroup").show(100);
            } else {
                $("#returnDateGroup").hide(100);
            }
        });
    });
</script>
</body>
</html>
